body {
  display: flex;
  justify-content: center;
}

.atmWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 600px;
  border: 2px solid black;
  border-radius: 15%;
  background-color: darkcyan;
}

.topWrapper {
  display: flex;
  width: 400px;
  justify-content: space-around;
  align-items: center;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 250px;
  height: 200px;
  margin-top: 5px;
  background-color: darkgray;
  color: white;
  border: 2px solid cornflowerblue;
  overflow: auto;
}

#screenResult, #inputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  font-size: 15px;
}

#screenResult {
  flex-wrap: wrap;
  height: 70%;
}

#inputWrapper {
  height: 30%;
}

.createdCardWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 360px;
  height: 100px;
}

#inputAddAndWithdraw {
  display: none;
  width: 200px;
  height: 26px;
  background-color: darkgray;
  outline: none;
  color: lavender;
  border: 2px solid cornflowerblue;
}

#buttonAddMoneyCard, #buttonWithdrawCashCard {
  display: none;
  height: 30px;
  background-color: darkgray;
  outline: none;
  counter-reset: cornflowerblue;
}

#createdCard {
  width: 100px;
  height: 30px;
  font-size: 11px;
  border-radius: 5px;
  background-color: lightblue;
  outline: none;
}

.buttonWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 320px;
  height: 160px;
  border: 2px solid lightblue;
}

.buttonNumber {
  width: 60px;
  height: 60px;
  outline: none;
}

.button {
  width: 80px;
  height: 30px;
  font-size: 11px;
  border-radius: 5px;
  background-color: lightblue;
  outline: none;
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 80px;
  margin-bottom: 5px;
}

#sum, #bills {
  width: 140px;
  height: 26px;
  background-color: darkgray;
  outline: none;
  color: lavender;
  font-size: 11px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 2px solid cornflowerblue;
}

.text {
  display: flex;
  justify-content: center;
  width: 300px;
  font-size: 15px;
}
